// Colors
$primary: #3f51b5;
$secondary: #ff9d7a;
$error: #f64e60;
$success: #1bc5bd;
$info: #3699ff;
$warning: #ffa800;
$white: #fff;
$grey: #f3f6f9;
$dark-grey: #80808f;

$colors: (
  primary: $primary,
  secondary: $secondary,
  error: $error,
  success: $success,
  info: $info,
  warning: $warning,
  white: $white,
  grey: $grey,
  dark-grey: $dark-grey
);
